# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
dump/

# --------------------
# Windows Files
# --------------------
Thumbs.db
.vscode

# --------------------
# Eclipse or Nodeclipse "Enide Studio" Files
# --------------------
.project
.settings/
.*.md.html

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------
# Netbeans Files
# --------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/
